.card__container {
  position: relative;
  border: 3px solid #3e4357;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  overflow: hidden;
  margin-top: 2.5rem;
  transition: transform .8s;
  opacity: .9;
}

.card__container:hover {
  transform: scale(1.05);
  opacity: 1.1;
}

.card__img {
  min-width: 100%;
  min-height: 100%;
}