<div class="footer__container">
  <div class="logo__container">
    <img src="./assets/ps-logo-small.png" alt="playstation logo">
  </div>
  <div class="links__container">
   <ul>
    <li><a href="https://www.linkedin.com/in/stefanysato" target="_blank">LinkedIn</a></li>
    <li><a href="http://github.com/stefanysato" target="_blank">Github</a></li>
    <li><a href="mailto:stefanysato@gmail.com">E-mail</a></li>
   </ul>
  </div>
  <div class="copyright__container">
    <span>Projeto desenvolvido para fins educacionais.
    </span>
  </div>
</div>