.card-pricing__container {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.856);
  padding: 10px;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-pricing__title {
  margin-bottom: 5px;
  font-size: .9rem;
}

.card-pricing__value {
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}

.game-price__old {
  text-decoration: line-through;
  margin-right: 10px;
}