.cover__container {
  width: 100vw;
  position: relative;
}

.cover__container > img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 7rem;
}

.cover-text__container {
  width: 40%;
  text-align: right;
  position: absolute;
  bottom: 220px;
  color: #ffffff;
  font-family: 'Play', sans-serif;
  font-weight: normal;
}

.cover-text__container > h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.cover-text__container > p {
  font-size: 1rem;
}

@media screen and (max-width: 950px) {
  .cover-text__container > h1 {
    font-size: 2rem;
  }
  
  .cover-text__container > p {
    font-size: .8em;
  }
}