<app-cover coverText="Escolhas mensais" coverDesc="Os jogos que adoramos e que vão agradar você."></app-cover>

<div class="home__container">
  <div class="title__container">
    <h2>Destaques</h2>
  </div>
  <div class="cards__container">
    <app-card gameName="ELDEN RING PS4 & PS5" gameCover="./assets/g-er.png" gameLabel="-34%" gamePriceOld="R$299,90"
      gamePrice="R$197,90"></app-card>
    <app-card gameName="CALL OF DUTY" gameCover="./assets/g-cod.jpg" gameLabel="PS4 | PS5"
      gamePrice="R$299,99"></app-card>
    <app-card gameName="SEA OF STARS" gameCover="./assets/g-sos.png" gameLabel="PS4 | PS5"
      gamePrice="R$187,90"></app-card>
    <app-card gameName="THE LAST OF US - PARTE I" gameCover="./assets/g-tlou.png" gameLabel="PS5 | pc"
      gamePrice="R$349,90"></app-card>
  </div>
  <div class="title__container">
    <h2>Grátis para jogar</h2>
  </div>
  <div class="cards__container">
    <app-card gameName="FORTNITE" gameCover="./assets/g-fort.png" gameLabel="PS5" gamePrice="Gratuito"></app-card>
    <app-card gameName="ROCKET LEAGUE" gameCover="./assets/g-rl.png" gameLabel="PS4" gamePrice="Gratuito"></app-card>
    <app-card gameName="THE SIMS 4" gameCover="./assets/g-ts4.png" gameLabel="PS4" gamePrice="Gratuito"></app-card>
    <app-card gameName="PUBG: BATTLEGROUNDS" gameCover="./assets/g-pubg.png" gameLabel="PS4"
      gamePrice="Gratuito"></app-card>
  </div>
</div>